.button{
    width: 80%;
    border-radius: 4px;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    font-family: "neulis-sans", sans-serif;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;

    &:hover{
        background-color: #464646;
        color: white;
        border: 1px solid white;
        transition: 0.3s ease-in-out;
    }
}