.card {
    background: linear-gradient(90deg, rgba(26, 26, 26, 1) 0%, rgba(51, 51, 51, 1) 100%);
    padding: 20px;
    display: flex;
    border-radius: 16px;
    width: 70%;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}
.contCard{
    width: 80%;
}

.cardTitulo {
    font-family: 'neulis-sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

.cardDescricao {
    /* width: 80%; */
    font-family: 'neulis-sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
}

.cardImgContainer {
    width: 20%;
    height: auto;
}

.cardImgContainer img {
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .card{
        width: 80%;
        flex-direction: row;
        gap: 20px;
    }
    
}