.inputs{
    width: 80%;
    margin: 16px auto;
    margin-top: 32px;

    & input{
        padding: 8px;
        width: 100%;
        margin: 0 auto 16px auto;
        border-radius: 4px;
        border: none;
        outline: none;
        border: 2px solid rgb(163, 163, 163);
    }
}

.inputs label {
    display: block;
    text-align: left;
    margin: 12px 0 0 0;
}

